@model StadiumManagement.Models.Grupos

@{
                /**/

                ViewBag.Title = "Detalhes da Empresa";
}

<div class="row">
    <div class="col-md-6">
        <h2>Empresas / Sectores</h2>

        <div>

            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Chefe
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Chefe.NomeCompleto)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Descricao)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Descricao)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Add Trabalhador", "AddTrabalhador", new { id = Model.GrupoId }, new { @class = "btn btn-success" })
            @Html.ActionLink("Edit", "Edit", new { id = Model.GrupoId }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Voltar", "Index", new { }, new { @class = "btn btn-info" })
        </p>
    </div>

    <div class="col-md-6">
        @if (!string.IsNullOrEmpty(Model.Chefe.Photo))
        {
            <img src="@Url.Content(Model.Chefe.Photo)" alt="Image" style="width:200px;height:200px;max-width: 100%; height: auto;" />
        }
    </div>

</div>

<br /><br />


<h4>Trabalhadores Registrados nesta empresa</h4>
@if (Model.GruposDetalhes.Count == 0)
{
    <h5>Nao tem trabalhadores cadastrados nesta empresa</h5>
}
else
{
<table class="table table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GruposDetalhes.FirstOrDefault().Trabalhador.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GruposDetalhes.FirstOrDefault().Trabalhador.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GruposDetalhes.FirstOrDefault().Trabalhador.Sobrenome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GruposDetalhes.FirstOrDefault().Trabalhador.Telefone)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.GruposDetalhes.FirstOrDefault().Trabalhador.Photo)
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model.GruposDetalhes)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Trabalhador.UserName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Trabalhador.Nome)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Trabalhador.Sobrenome)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Trabalhador.Telefone)
    </td>
    
    <td>
        @if (!string.IsNullOrEmpty(item.Trabalhador.Photo))
        {
            <img src="@Url.Content(item.Trabalhador.Photo)" alt="Image" style="width:50px;height:50px;max-width: 100%; height: auto;" />
        }

    </td>
    
    <td>
        @Html.ActionLink("Excluir", "ExcluirTrabalhador", new { id = item.GruposDetalhesId }, new { @class = "btn btn-danger" , onclick = "return confirm('Tem certeza que deseja excluir o trabalhador?')" })
    </td>
</tr>
}

</table>
}



