@model IEnumerable<StadiumManagement.Models.Grupos>

@{
    ViewBag.Title = "Empresas";
}

<h2>Lista de Empresas</h2>

<p>
    @Html.ActionLink("Novo", "Create", new { }, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Chefe")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            Trabalhadores
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Chefe.NomeCompleto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GruposDetalhes.Count)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.GrupoId } , new { @class = "btn btn-primary" })|
            @Html.ActionLink("Details", "Details", new { id = item.GrupoId }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.GrupoId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
